:root {
  --primary: rgba(255, 240, 34, 0.966);
  --bg: #c48888;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: 'Poppins', 'sans-serif';
  background-color: var(--bg);
  color: #fff;
}

.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('gambar/background2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  background-color: rgba(1, 1, 1, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo a {
  font-size: 2rem;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo a span {
  color: var(--primary);
}

.navbar .navbar-logo img {
  width: 7%;
  border-radius: 100%;
  margin: 0 0.5rem;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: '';
  display: block;
  border-bottom: 0.1rem solid var(--primary);
  padding-bottom: 0.5rem;
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.7);
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar-extra {
  display: flex;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

.hero .content {
  padding: 1.5rem 7%;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 4rem;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 1);
  line-height: 1;
  margin-top: 7rem;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.5rem;
  color: #fff;
  margin-top: 0.5rem;
  line-height: 1.4;
  font-weight: 500;
}

.hero .content .detail {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 2rem;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}



/* Media Queris*/
#menu {
  display: none;
}

.navbar .navbar-nav.active {
  right: 0;
}

@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 62.5%;
  }

  #menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a:hover::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }
}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}

/* Media Queris*/

/*Profile*/

.about {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url('gambar/tokokuh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.about::after {
  /* content: ''; */
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(255, 255, 255, 0) 25%);
}

.about .row {
  display: flex;
  align-items: center;
  margin-top: 20rem;
  padding: 2rem 8%;
  max-width: 100rem;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  object-position: center;

}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  margin-bottom: 0.8;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
}

.vidio .note {
  font-size: 1.8rem;
  margin-left: 45rem;
  margin-top: 0;
}

.vidio .note span {
  color: var(--primary);
}

.vidio .pidio {
  margin-left: 15rem;
  margin-top: 3rem;
}

/*Profile*/

/*Menu*/
.menu h2 {
  font-size: 1.8rem;
  margin-top: 7rem;
  text-align: center;
}

.menu h2 span {
  color: var(--primary);
}

.menu .ket {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 5rem;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu .row .menu-list {
  text-align: center;
}

.menu .row .menu-list img {
  border-radius: 50%;
  width: 50%;
}

.menu .row .menu-list .menu-list-nama {
  margin-top: 1rem;
}

.menu .row .menu-list .menu-list-harga {
  margin-bottom: 2rem;
}

/*Menu*/


/* RESERVASI */


.form-style-10 h1 {
  background: #000000;
  padding: 20px 30px 15px 30px;
  margin: -30px -30px 30px -30px;
  color: #8d6612;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  border: 1px solid #684d14;
}

.form-style-10 h1>span {
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
}

.form-style-10 label {
  display: block;
  font: 13px Arial, Helvetica, sans-serif;
  color: #888;
  margin-bottom: 15px;
}

.form-style-10 input[type="text"],
.form-style-10 input[type="date"],
.form-style-10 input[type="datetime"],
.form-style-10 input[type="email"],
.form-style-10 input[type="number"],
.form-style-10 input[type="search"],
.form-style-10 input[type="time"],
.form-style-10 input[type="radio"],
.form-style-10 input[type="file"],
.form-style-10 textarea,
.form-style-10 select {
  display: block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 100%;
  padding: 8px;
  border: 2px solid #450909;
}

.form-style-10 .section {
  font: normal 20px 'Bitter', serif;
  color: #684d14;
  /* margin-bottom: 5px; */
}

.form-style-10 .section span {
  background: #684d14;
  padding: 5px 10px 5px 10px;
  position: absolute;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border: 4px solid #fff;
  font-size: 14px;
  margin-left: -45px;
  color: #fff;
}

.form-style-10 input[type="button"],
.form-style-10 input[type="submit"] {
  background: #684d14;
  padding: 8px 20px 8px 20px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.12);
  font: normal 30px 'Bitter', serif;
  border: 1px solid #4D4D4D;
  font-size: 15px;
}

.form-style-10 input[type="button"]:hover,
.form-style-10 input[type="submit"]:hover {
  background: #6b4a14;
}

.form-style-10 .privacy-policy {
  float: right;
  width: 250px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #4D4D4D;
  margin-top: 10px;
  text-align: right;
}

.contact-info {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  text-align: center;

  font-size: medium;
}

.contact-info h2 {
  margin-bottom: 20px;
  font-size: 80px;
}

.contact-info p {
  margin-bottom: 10px;
  font-size: 25px;
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 27px;
}

.contact-info li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
  font-size: 20px;
}



.contact-info li a {
  color: inherit;
  text-decoration: none;
}


.company-info {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.company-info h2 {
  margin-bottom: 20px;
  color: #52480b;
}

.company-info h3 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 40px;
  margin-bottom: 20px;
}

.company-info p1 {
  padding: 30px 40px 50px 60px;
  font-family: monospace;
  color: #443b02;
  margin-bottom: 20px;
  align-content: midlle;
}

.company-info h5 {
  background-color: #ecc87ce8;
  max-width: 100%;
  font-size: 15px;
  font-family: cursive;
  color: #8e5c0d;
  margin-bottom: 20px;
}

.layanan {
  font-family: Impact, Haettenschweiler;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.layanan li {
  margin: 20px;
  text-align: center;
}

.layanan img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 10px;
}

.layanan h4 {
  margin-bottom: 5px;
}

.layanan p {
  margin: 0;
}

/* Daftar */

.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.form h2 {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.form-group button {
  padding: 10px;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #3e8e41;
}


/*Footer*/
footer {
  background-color: rgba(194, 188, 100, 0.966);
  ;
  text-align: center;
  padding: 1rem 0;
}

footer .social {
  padding: 1rem 0;
}

footer .social a {
  color: #fff;
  margin: 1rem;
}

footer .social a:hover {
  color: black;
  margin: 1rem;
}

footer .links {
  margin-bottom: 1rem;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .links a:hover {
  color: #000000;
}

footer .credit a {
  color: #000000;
}

/*Footer*/

/* Logout */
.logout-btn {
  /* color: transparent; */
  background-color: transparent;
  margin-left: 10px;
}

.logout-btn svg {
  stroke: #ef4444;
}

.form-logout.hidden {
  display: none;
}

/* End of Logout */

/* HomePage */
.reserve-container {
  padding: 2rem 10rem;
}

.reserved-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20rem;

  background-color: wheat;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  width: 100%;
  margin: 0;
  padding: 0 4px;
  color: black;
}

/* End of Homepage */